
@{
    ViewBag.Title = "Index";
}
@*<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>*@
@*<script>
    $(document).ready(function () {
        //alert("essai");
    $("#btn1").click(function () {
       // alert("essai");
        $("#log").text("Hello world!");
    });
});
</script>*@

<h2 id="test1">Index</h2>
@*<button id="btn1"  class="btn btn-success"> Jquery</button>*@


