
@{
    ViewBag.Title = "Contact";
}

<section class="bgwhite p-t-66 p-b-38">
    <div class="container">
        <div class="row">
            <div class="col-md-4 p-b-30">
                <div class="hov-img-zoom">
                    <img src="~/Image/mystore.jpg" alt="IMG-LOGO">
    
                </div>
            </div>

            <div class="col-md-8 p-b-30">
                <h3 class="m-text26 p-t-15 p-b-16">
                    Contact
                </h3>

                <P class="p-b-28">
                <ul>
                   <li>
                    E-mail : tsilavina@gmail.com
              </li>
                    <li>
                        Telephone : 034 85 600 27
                    </li>
                    <li>
                        Fb : Tsila Ambatored
                    </li>
</ul>



                    </p>


</div>
        </div>
    </div>
</section>




