
@{
    ViewBag.Title = "HttpNotFoun";
}

<section class="bgwhite p-t-66 p-b-38">
    <div class="container">
        <div class="jumbotron" style="background-color: rgb(87, 171, 192);">
            <h1 style="margin-left: 10%;">ERROR 404  HttpNotFound</h1>
            <p>
                Page non trouvée
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 p-b-30">
                <div class="hov-img-zoom">
                </div>
            </div>
        

            <div class="col-md-8 p-b-30">
                <h3 class="m-text26 p-t-15 p-b-16">
                 
                </h3>

                <p class="p-b-28">
                  

                </p>


            </div>
        </div>
    </div>
</section>




